@charset "UTF-8";

// * ==========================================================================
// * Color Variables
// * ==========================================================================

$color-white: #FFFFFF;
$color-black: #000000;

// * ==========================================================================
// * Font Family
// * ==========================================================================

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, Arial;

// * ==========================================================================
// * RWD Breakpoints
// * ==========================================================================

$desktop: (
  xl: 1600px,
  lg: 1440px,
  md: 1280px,
  sm: 1025px
);

$tablet: (
  lg: 1024px,
  md: 960px,
  sm: 768px
);

$phone: (
  lg: 767px,
  md: 480px,
  sm: 370px
);

// * ==========================================================================
// * Font Size
// * ==========================================================================

$font-size: (
  xl: 2rem,
  lg: 1.75rem,
  md: 1.5rem,
  sm: 1.25rem,
  xs: 1.125rem,
  base: 1rem,
  xsbase: 0.9rem
);

// * ==========================================================================
// * Style Of Trigger Focus
// * ==========================================================================

@function focusBorder($inside: false, $opacity: 0.6) {
  @if $inside == true {
    @return inset 0 0 0 0.2rem rgba($color-black, $opacity);
  }
  @else {
    @return 0 0 0 0.13rem rgba($color-black, $opacity);
  }
}